# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
/nbproject/private/

*~
thumbs.db
.buildpath
.project
.idea/
.settings/
.git/

# Symfony 2.x
composer.phar
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml

# Sass
web/Resources/foundation/.sass-cache/*
