html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Label caché => placeholder à la place */
label{
    display: none;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 60px; /* height + margin-top of footer */
}

/* TOPNAV */
header#topnav {
    background-color: #363636;
    height: 70px;
    width: 100%;
}

figure#google-map-logo {
    background-image: url('../../Resources/public/images/logo.png');
    float: left;
    height: 59px;
    margin: 5px;
    width: 60px;
}

#title {
    color: #ffffff;
    float: left;
    margin-top: 20px;
    width: 110px;
}

.circle-button {
    background:#34495E url('../../Resources/public/images/marker.png') no-repeat;
    background-position: center 35%;
    border-radius: 50px;
    color:#fff;
    display: inline-block;
    height:100px;
    font-size: 16px;
    line-height: 140px;
    text-align: center;
    text-decoration: none;
    width: 101px;
}

.active {
    color: #2ECC71;
    text-decoration: none;
}

input[type="submit"]{
    width: 100%;
}

footer#basefooter {
    background-color: #363636;
    bottom: 0;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}
