{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="large-10 small-10 columns">
            <h4>
                <i class="foundicon-flag"></i>
                {{ nameStation }}
            </h4>

            <h5>Catégories de lieux autour de cette gare : </h5>

            <ul class="nav nav-list">
                {% for categorie in listCategories %}
                    <li>
                        <a href="{{ path('lpdw_venuesincategories', {'name': nameStation, 'latitude': latitude, 'longitude': longitude, 'categorie': categorie.id}) }}">
                            {{ categorie.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <hr />
        </div>

        <div class="large-2 small-2 columns">
            <div class="right">
                <a class="twelve columns btn btn-large btn-block" href="{{ path('lpdw_search') }}">
                    Retour
                </a>
            </div>
        </div>
    </div>
{% endblock %}