{% extends '::base.html.twig' %}

{% block body %}
    <div class="row-fluid">

        <div class="span2"></div>

        <div class="span8">
            <h5>Catégories de lieux autour de la gare : </h5>
            <h4>
                <i class="foundicon-flag"></i>
                {{ nameStation }}
            </h4>

            <ul class="nav nav-list">
                {% for categorie in listCategories %}
                    <li>
                        <a href="{{ path('lpdw_venuesincategories', {'name': nameStation, 'latitude': latitude, 'longitude': longitude, 'categorie': categorie.id}) }}">
                            {{ categorie.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="span2"></div>

    </div>
{% endblock %}