{% extends '::base.html.twig' %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100%; }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?sensor=false"> // script google
    </script>
{% endblock %}

 {% block body %}
     <a class="btn btn-primary back-button" href="#">Retour</a>
     {% block map %}
         <div id="map-canvas"></div>
     {% endblock %}
 {% endblock %}


{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var locations = [
            {{ listVenues }}
        ];

        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 14, // set default zoom level
            center: new google.maps.LatLng(-33.92, 151.25), // set center point (station point)
            disableDefaultUI: true, // disabled default UI
            mapTypeId: google.maps.MapTypeId.TERRAIN

        });

        var infowindow = new google.maps.InfoWindow(); // define infowindow popup

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent('yoyo');
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>
{% endblock %}
