/* Label caché => placeholder à la place */
label{
    display: none;
}


/** technique utilisée : http://voormedia.com/blog/2012/11/responsive-background-images-with-fixed-or-fluid-aspect-ratios **/
div#logo {
    margin: 0 auto;
}

figure#google-map-logo {
    padding-top: 65%;
    background-image: url('../images/g_map.png');
}

div.search-results{
    margin-top: 15px;
}