{% extends '::base.html.twig' %}

{% block body %}

    <a class="button" id="findMe" href="#">Trouve Moi</a>
    <!-- Div qui contient les géolocalisations de l'utilisateur (pas affiché à l'utilisateur) -->
    <div id="infosposition"></div>

    <p>Ou utilise le formulaire suivant pour trouver une gare</p>

    Formulaire :
    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LPDWClientBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}