<!-- HTML rendu lors d'une erreur lors de la géolocalisation de l'utilisateur -->
<div class="two columns"></div>
<div data-alert class="alert-box alert eight columns">
    <strong>Erreur</strong> : {{ errorTxt }}!!
</div>
<div class="two columns"></div>

