<!-- HTML rendu lors d'une erreur lors de la géolocalisation de l'utilisateur -->
<div class="two columns hide-for-small"></div>
<div data-alert class="eight columns alert-box alert">
    <strong>Erreur</strong> : {{ errorTxt }}!!
    <a class="close" href="#">&times;</a>
</div>
<div class="two columns hide-for-small"></div>

