<!-- HTML rendu lors d'une erreur lors de la géolocalisation de l'utilisateur -->
<div data-alert class="alert-box alert">
    <strong>Erreur</strong> : {{ errorTxt }}!!
    <a class="close" href="#">&times;</a>
</div>
