<!-- HTML rendu lors d'une erreur lors de la géolocalisation de l'utilisateur -->
<div class="span2"></div>
<div data-alert class="span8 alert alert-error">
    <strong>Erreur</strong> : {{ errorTxt }}!!
    <a class="close" data-dismiss="alert" href="#">&times;</a>
</div>
<div class="span2"></div>

