latitude : {{ latitude }}
longitude : {{ longitude }}


<h4>Gares proches de votre position</h4>
<dl class="vertical tabs">
    {% for station in liste_stations %}
        <dd><a href="#">{{ station.name }}</a></dd>
    {% endfor %}
</dl>
