<!--
A enlever après :
latitude : {{ latitude }}
longitude : {{ longitude }}
-->

<h4>Gares proches de votre position</h4>
<dl class="vertical tabs">
    {% for station in liste_stations %}
        <dd><a href="{{ path('lpdw_categories', {'name': station.name, 'latitude': station.latitude, 'longitude': station.longitude}) }}">{{ station.name }}</a></dd>
    {% endfor %}
</dl>
